<ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Grid">
        <ng-template ngbTabContent>
            <dx-data-grid id="dxGrid" [dataSource]="dataSource" height='300px'
                [hoverStateEnabled]="true"
                [selectedRowKeys]="[]"
                >
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column [width]="150" caption="监测点名称" dataField="name"></dxi-column>
                <dxi-column [width]="70" caption="地区" dataField="area_name"></dxi-column>
                <dxi-column caption="类型" dataField="type_name"></dxi-column>
                <dxi-column caption="级别" dataField="controle_level_name"></dxi-column>
            </dx-data-grid>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Chart">
        <ng-template ngbTabContent>
            <h2>Hello, world</h2>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

